li.primary-nav-item.nav-product
  a(href='javascript:;')
    span.t-text 产品服务

  // secondary-nav
  nav.secondary-nav-wrapper.is-hidden
    ul.secondary-nav
      // CloudCDN
      li.nav-product-item.cloudcdn
        .left-col
          //- a.nav-item(href='#{root_path}')
          h3 CloudCDN
          p.description 北京快网在全世界首次提出基于云计算技术的CloudCDN理念，并自主开发了一系列的CDN软件服务(SAAS)技术。
        ul.right-col
          li.cloudcdn-item
            a.fastpage(href='#{root_path}a/products/static/index.html')
              span.icon-48.icon-fastpage
              span.text 网页加速
          li.cloudcdn-item
            a.fastlive(href='#{root_path}a/products/live/index.html')
              span.icon-48.icon-fastlive
              span.text 直播加速
          li.cloudcdn-item
            a.fastvod(href='#{root_path}a/products/vod/index.html')
              span.icon-48.icon-fastvod
              span.text 点播加速
          li.cloudcdn-item
            a.fastdownload(href='#{root_path}a/products/download/index.html')
              span.icon-48.icon-fastdownload
              span.text 下载加速
          li.cloudcdn-item
            a.fastoversea(href='#{root_path}a/products/oversea/index.html')
              span.icon-48.icon-fastoversea
              span.text 海外加速
          li.cloudcdn-item
            a.faststorage(href='#{root_path}a/products/storage/index.html')
              span.icon-48.icon-faststorage
              span.text 储存服务
          li.cloudcdn-item
            a.fastmonitor(href='#{root_path}a/products/monitorin/index.html')
              span.icon-48.icon-fastmonitor
              span.text 监控服务
          li.cloudcdn-item
            a.fastreport(href='#{root_path}a/products/report/index.html')
              span.icon-48.icon-fastreport
              span.text 日志分析
      // CloudXNS
      li.nav-product-item.idc
        a.nav-item(href='#{root_path}/a/products/IDC/index.html')
          h3 光载无限 IDC
          p.description 分布式 IDC，五星级高端 IDC 机房位于CBD商圈内，朝阳北路沿线，距离燕莎商圈10分钟车程，提供快捷、高质量的服务。
      // NewDefend 云安全
      li.nav-product-item.flow
        a.nav-item(href='#{root_path}a/products/NewDefend/index.html')
          h3 光载无限流量业务
          p.description 牛盾云加速在”零部署”，”零维护“的情况下，极大提高网站访问速度，防止注入XSS，sql注入，蠕虫，木马，0day攻击，DDOS等问题。
      // More products
      li.nav-product-item.third-part
        .left-col
          h3 第三方带宽转售
          p.description 其他产品也提供完善的服務，北京快网经验丰富的运维团队，提供最优质领先的云加速服务保障。
        .right-col
          ul
            // 牛盾
            li.third-part-item
              a(href='#{root_path}a/products/NewDefend/index.html')
                span.text 牛盾云加速
                span.icon-64.icon-newdefend
            // Cloud CACHE
            li.third-part-item
              a(href='#{root_path}a/products/cs/index.html')
                span.text Cloud CACHE
                span.icon-64.icon-cloud-chache
            // Cloud DIY
            li.third-part-item
              a(href='#{root_path}a/products/CloudXNS/index.html')
                span.text Cloud XNS
                span.icon-64.icon-xns
