li.primary-nav-item.nav-product
  a(href='javascript:;')
    span.t-text 产品服务

  // secondary-nav
  nav.secondary-nav-wrapper.is-hidden
    ul.secondary-nav
      // CloudCDN
      li.nav-product-item.cloudcdn
        .left-col
          //- a.nav-item(href='#{root_path}')
          h3.nav-product-item-sprite.nav-product-item-cloudcdn CloudCDN
          p.description 北京快网在全世界首次提出基于云计算技术的CloudCDN理念，并自主开发了一系列的CDN软件服务(SAAS)技术。
        ul.right-col
          li.cloudcdn-item
            a.fastpage(href='#{root_path}/a/products/static/')
              span.icon-48.icon-fastpage
              span.text 网页加速
          li.cloudcdn-item
            a.fastlive(href='#{root_path}/a/products/live/')
              span.icon-48.icon-fastlive
              span.text 直播加速
          li.cloudcdn-item
            a.fastvod(href='#{root_path}/a/vod/')
              span.icon-48.icon-fastvod
              span.text 点播加速
          li.cloudcdn-item
            a.fastdownload(href='#{root_path}/a/download/')
              span.icon-48.icon-fastdownload
              span.text 下载加速
          li.cloudcdn-item
            a.fastoversea(href='#{root_path}/a/oversea/')
              span.icon-48.icon-fastoversea
              span.text 海外加速
          li.cloudcdn-item
            a.faststorage(href='#{root_path}/a/storage/')
              span.icon-48.icon-faststorage
              span.text 储存服务
          li.cloudcdn-item
            a.fastmonitor(href='#{root_path}/a/monitorin/')
              span.icon-48.icon-fastmonitor
              span.text 监控服务
          li.cloudcdn-item
            a.fastreport(href='#{root_path}/a/report/')
              span.icon-48.icon-fastreport
              span.text 日志分析
      // CloudXNS
      li.nav-product-item.cloudxns
        a.nav-item(href='#{root_path}a/products/CloudXNS/')
          h3.nav-product-item-sprite.nav-product-item-logo-cloudxns CloudXNS
          p.description CloudXNS是在传统DNS系统上加入策略解析后的高级智能DNS系统，解析速度比传统DNS快两到三倍，可做到实时生效。
      // NewDefend 云安全
      li.nav-product-item.newdefend
        a.nav-item(href='#{root_path}a/products/NewDefend/i')
          h3.nav-product-item-sprite.nav-product-item-logo-newdefend 牛盾云安全
          p.description 牛盾云加速在”零部署”，”零维护“的情况下，极大提高网站访问速度，防止注入XSS，sql注入，蠕虫，木马，0day攻击，DDOS等问题。
      // More products
      li.nav-product-item.more
        .left-col
          h3.nav-product-item-sprite.nav-product-item-more More
          p.description 其他产品也提供完善的服務，北京快网经验丰富的运维团队，提供最优质领先的云加速服务保障。
        .right-col
          ul
            // Cloud DIY
            li.more-item
              a(href='#{root_path}a/products/DIY/')
                span.text Cloud DIY
                span.icon-64.icon-cloud-diy
            // Cloud CACHE
            li.more-item
              a(href='#{root_path}a/products/cs/')
                span.text Cloud CACHE
                span.icon-64.icon-cloud-chache
            // 分布式 IDC
            li.more-item
              a(href='#{root_path}/a/products/IDC/')
                span.text 分布式 IDC
                span.icon-64.icon-cdn-idc-corp
