main.main-content#selfbuilt
    .hero
        .bg.banner1
            h1 CDN自建方案
            p FASTER · BETTER
            hr
        .bannerbottom
    .category
        ul
            li
                a.current(href='#cat1')
                    span.icon-56.icon-cdn-merge
                    sapn.text 融合CDN
            li
                a(href='#cat2')
                    span.icon-56.icon-cdn-inner-network
                    sapn.text 内网自建CDN
            li
                a(href='#cat3')
                    span.icon-56.icon-cdn-idc-corp
                    sapn.text IDC企业自建CDN
            li
                a(href='#cat4')
                    span.icon-56.icon-cdn-self-build
                    sapn.text 互联网企业自建
    .inner
        .content#cat1
            .wrapper
                .title
                    h2 融合CDN
                    p
                        | 随着互联网电视业务的蓬勃发展，广电及电信运营商也在逐步将现有DVB业务及IPTV业务整合，形成独具特色的DVB+OTT、IPTV+OTT业务方案，提升整体业务的竞争力。新兴业务需要全新的“融合CDN”网络架构承载，在全网全区域进行视频的智能分发。北京快网通过在IPTV、DVB及OTT领域的深耕，向广电及电信运营商提供贴合需求的融合CDN系统及网络搭建解决方案。助力运营商OTT业务的发展！
                .solution
                    h3 解决方案特点
                    .img
                        img(src='#{root_path}/images/solution/BerrterYHCDN.png', alt='')
                    ul
                        li 1. 与现有IPTV、DVB内容管理系统无缝对接，有效增强广电运营商的内容管控力度；
                        li 2. 多终端多功能业务支持，充分贴合现有用户观赏习惯及用户体验；
                        li 3. 丰富的管理功能，涵盖客户、设备、资源调度、配置、平台系统及内容管理；
                        li 4. 全web界面操作，提供诸多运维接口与客户系统快速对接；
                        li 5. 完善的GSLB调度，可根据LDNS及用户终端IP进行精准用户调度。
                .benefit
                    h3 方案优势
                    img(src='#{root_path}images/solution/advantage-bg.png', alt='')
                    ol
                        li 1. FastCache是北京快网自主研发的高性能缓存系统，单台性能相较于第三方开源软件高3-8倍；
                        li 2. 模块化系统设计，可根据客户自身需求灵活选择功能模块，同时便于系统升级扩充，实现贴合用户的精细化组网需求；
                        li 3. 系统搭建前、中、后整个过程中，快网强大的专业技术团队，将全程提供技术支持；
                        li 4. 权限可一次交付，满足对私密信息的掌控权，保证了信息的绝对独立和不外流。
        .content#cat2(style='display:none')
            .wrapper
                .title
                    h2 内网自建CDN
                    p 机关及军政单位因其自身的特点，往往采用内网开展相关工作。内网CDN可在员工集中分布区域部署边缘节点，就近响应用户请求，减少跨区域访问产生的丢包及延时，加速用户访问效果。在系统开发及运营维护团队较为薄弱的情况下，搭建CDN显得尤为困难。北京快网凭借对行业和客户需求的不断思考和研究，推出内网自建CDN解决方案，可帮助内网客户快速部署自建CDN。
                .solution
                    h3 解决方案特点
                    .img
                        img(src='#{root_path}images/solution/yr_tb2.png', alt='')
                    ol
                        li 1. 可视化WEB图形管理界面，易于上手操作，提高系统易用性；
                        li 2. 权限可一次交付，满足对私密信息的掌控权，保证了信息的绝对独立和不外流；
                        li 3. 提供静态类、下载类、音视频点播类、直播类加速等各类业务加速模块；
                        li 4. 根据客户业务需求，提供全套方案设计、设备选型及系统部署设计；
                        li 5. 自主知识产权的FastCache缓存系统，有效规避第三方开源软件的Bug及性能缺陷。
                .benefit
                    h3 方案优势
                    img(src='#{root_path}images/solution/advantage-bg.png', alt='')
                    ol
                        li 1. 提供完整的售前、售中及售后支持，可开展完善的系统及运维技术培训；
                        li 2. 采用快网成熟的商业软件，具有快速部署的特点，可大幅缩短方案部署周期；
                        li 3. 7*24小时客户服务实时保障问题在第一时间得到响应及解决。
                        li 4. 系统具备良好的兼容性，可与各类运营管理系统无缝对接
        .content#cat3(style='display:none')
            .wrapper
                .title
                    h2 IDC企业自建CDN
                    p
                        | IDC企业作为互联网内容服务商的部署载体，在发展CDN业务上具备天然的资源优势及客户优势。越来越多的IDC企业开始在自有资源的基础上，开展CDN网络加速服务。 IDC企业若完全采用自主研发CDN会受到研发及运营成本高、人员技术水平要求严格、搭建周期长等不利因素限制。北京快网凭借在CDN及IDC领域的深耕，推出IDC企业自建CDN解决方案，可帮助IDC企业快速实现自建CDN网络部署。
                .solution
                    h3 解决方案特点
                    .img
                        img(src='#{root_path}images/solution/BerrterZJCDN_IDC.png', alt='')
                    ol
                        li 1. 提供自建全套的CDN系统模块，包括缓存系统、调度系统、管理系统、监控系统等；
                        li 2. 提供静态类、下载类、音视频点播类、直播类等各类业务加速模块；
                        li 3. 根据客户业务需求，提供全套方案设计、设备选型及系统部署建议；
                        li 4. 提供完整的售前、售中及售后支持，可开展完善的系统及运维技术培训；
                        li 5. 7*24小时客户服务实时保障问题在第一时间得到响应及解决。
                .benefit
                    h3 方案优势
                    img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
                    ol
                        li 1. 采用快网成熟的商业软件，具有快速部署的特点，可大幅缩短方案部署周期；
                        li 2. 模块化系统设计，可根据客户自身需求灵活选择功能模块，同时便于系统升级扩充，实现贴合用户的精细化组网需求；
                        li 3. 可视化配置图形界面，易于上手操作，系统易用性提高；
                        li 4. 获得8年系统稳定的运营经验及运维流程。
        .content#cat4(style='display:none')
            .wrapper
                .title
                    h2 互联网企业自建
                    p
                        | 越来越多的中型及大型互联网公司为了提升广泛分布的客户体验，开始部署企业的专属CDN系统。自建CDN可充分满足互联网企业自身业务的分发加速需求。 基于传统第三方开源软件的系统开发耗费大量成本，同时受软件本身的架构影响，系统可承载的并发数及吞吐量均会产生瓶颈。北京快网根据互联网企业的特点，为中型及大型互联网企业推出自建CDN解决方案。
                .solution
                    h3 解决方案特点
                    .img
                        img(src='#{root_path}images/solution/BerrterZJCDN.png', alt='')
                    ol
                        li 1. 根据客户加速类型提供内存版和硬盘版Fastcache缓存系统，比开源Squid等系统性能高3-8倍；
                        li 2. 提供自建全套的CDN系统模块，包括缓存系统、调度系统、管理系统、监控系统等，客户可根据自身需求灵活选择;
                        li 3. 提供静态类、下载类、音视频点播类、直播类加速模块及Fastreport深度分析报表等增值服务；
                        li 4. 权限可一次交付，满足对私密信息的掌控权，保证了信息的绝对独立和不外流；
                .benefit
                    h3 方案优势
                    img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
                    ol
                        li 1. 采用快网成熟的商业软件，具有快速部署的特点，可大幅缩短方案部署周期；
                        li 2. 提供完整的售前、售中及售后支持，可开展完善的系统及运维技术培训；
                        li 3. 7*24小时客户服务实时保障问题在第一时间得到响应及解决；
                        li 4. 系统具备良好的兼容性，可与各类运营管理系统无缝对接。
    .blank
