footer.main-footer
  .footer-top
  .footer-wrapper
    .footer-inner
      .footer-content
        dl
          dt 快网优势
          dd 快速响应
          dd 先进技术
          dd 专业服务
        dl
          dt 产品介绍
          dd: a(href='#{root_path}a/products/static/index.html') CloudCDN
          dd: a(href='#{root_path}a/products/CloudXNS/index.html') CloudXNS
          dd: a(href='#{root_path}a/products/NewDefend/index.html') 牛盾云加速
          dd: a(href='#{root_path}a/products/cs/index.html') CloudCache
          dd: a(href='#{root_path}a/products/DIY/index.html') CloudDIY
        dl
          dt 技术支持
          dd: a(href='#{root_path}a/service_guide/index.html') 技术服务
          dd: a(href='#{root_path}a/faq/') 服务指南
        dl
          dt 客户案例
          //- dd: a(href='#{root_path}a/index.html') 个案分析
          dd: a(href='#{root_path}a/typical_eg/') 典型客户
        dl
          dt 新闻中心
          //- dd: a(href='#{root_path}a/news/detail/index.html') 快网新闻
          dd: a(href='#{root_path}a/news/news_reports/index.html') 媒体报导
          dd: a(href='#{root_path}a/news/industry/index.html') 行业新闻
        dl
          dt 关于快网
          dd: a(href='#{root_path}a/about_us/company/index.html') 关于我们
          dd: a(href='#{root_path}a/join_us/index.html') 招聘信息
          dd: a(href='#{root_path}a/links/index.html') 友情链接
          dd: a(href='#{root_path}a/about_us/contact_us/index.html') 联系我们
        dl.tel
          dt 客户热线
          dd 运维中心：400-811-0223
          dd 24小时运维：027-87001618 转8028、8029
          dd 销售热线：010-85867657-8、15901551087
      .copyright
        img(src='#{root_path}images/index/sm_83x30_gray.png', alt='')
        img(src='#{root_path}images/index/gw_83x30_gray.png', alt='')
        p
          | 版权所有 © 2006-2015 北京快网云计算CDN加速提供商 | 京ICP备06026704号 | 京公网安备11010502002181号
          br
          | 世纪互联集团（NASDAQ：VNET）
#fixedbar
  #gotop.bar
    a(href="javascript:;" title="返回顶部")
      i 返回顶部
  #codebar.bar
    a(href="javascript:;" title="微信")
      i 微信
    .barcon
      img(src="#{root_path}images/qrcode.png" width="126" height="116")
      p 北京快网微信公众号
      //- s >
  #qqbar.bar
    a(href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4008110223&f=1&ty=1&aty=0&a=&from=6" target="_blank" title="QQ客服:4008110223")
      i QQ
  #embar.bar
    a(href="mailto:support@fastweb.com.cn" title="邮件")
      i 邮件
