main#cloudcdn.main-content
    .hero
        .bg
            h1 CloudCDN
            p FASTER · BETTER
            hr
        .bannerbottom
    .category
        ul
            li
                a.current(href='#cat1')
                    span.icon-56.icon-fastpage
                    span.text 网页加速
            li
                a(href='#cat2')
                    span.icon-56.icon-fastlive
                    span.text 直播加速
            li
                a(href='#cat3')
                    span.icon-56.icon-fastvod
                    span.text 点播加速
            li
                a(href='#cat4')
                    span.icon-56.icon-fastdownload
                    span.text 下载加速
            li
                a(href='#cat5')
                    span.icon-56.icon-fastoversea
                    span.text 海外加速
            li
                a(href='#cat6')
                    span.icon-56.icon-faststorage
                    span.text 储存服务
            li
                a(href='#cat7')
                    span.icon-56.icon-fastmonitor
                    span.text 监控服务
            li
                a(href='#cat8')
                    span.icon-56.icon-fastreport
                    span.text 日志分析
    .inner
        .content#cat1
            .bg1
                .wrapper
                    .title
                        h2 FastPages 网页加速
                        p 门户类网站+电子商务类网站+企业类网站+新闻类网站+娱乐/游戏类网站+证券类网站
                    .product
                        .box
                            h3 产品功能
                            ul
                                li 静态页面、图片、Flash等的访问加速；
                                li HTTPS应用支持；
                                li 全球负载均衡系统，实现IP的精准定向和指向；
                                li 提供遵循源站及与客户协商强制缓存等多种缓存策略；
                                li 内容刷新；
                                li 日志存储与下载。
                        .box.last
                            h3 产品优势
                            ul
                                li 先进的系统架构，高可靠的保障机制；
                                li 提供专业的技术支持和完善的服务监控体系；
                                li FastCache内存版缓存系统对高并发小文件提供更加出色的处理性能。
                    .img
                        img(src='#{root_path}/images/products/static.png', alt='')
            .bg2
                .wrapper
                    .benefit
                        h3 优质服务
                        img(src='#{root_path}/images/products/services-bg.png', alt='')
                        .detail
                            div
                                h4 数据报告
                                ol
                                    li 不同纬度统计分析，日报、月报及服务质量评测报告；
                                    li 重大项目活动服务报告；
                                    li 客户行为数据挖掘分析。
                            div
                                h4 个性定制
                                ol
                                    li 指定ISP带宽资源；
                                    li 地域化服务；
                                    li 区域访问控制；
                                    li 服务IP查询。
                            div
                                h4 安全增强
                                ol
                                    li 分布式负载均衡访问；
                                    li 主备源热切换与多源轮询访问；
                                    li 冗余负载，支持流量突发。
                            div
                                h4 可靠保证
                                ol
                                    li 抗DDos攻击；
                                    li 防劫持技术；
                                    li 防盗链技术；
                                    li 源站隐匿与源站监控。
                            div
                                h4 专业服务
                                ol
                                    li 7*24*365全天候的技术支持；
                                    li 用户访问故障分析；
                                    li 客户监控，命中率、带宽、流量监控，订阅报警。
        .content#cat2(style='display:none')
            .bg1
                .wrapper
                    .title
                        h2 FastLIVE 直播加速
                        p 电视直播类网站 + 远程教育类网站 + 访谈类网站 + 游戏直播网站 + 新闻类网站 + 体育类网站 + 音乐类网站
                    .product
                        .box
                            h3 产品功能
                            ul
                                li RTMP/HLS/HDS/HTTP+flv等视频直播加速
                                li 支持直播时移
                                li 支持码率自适应服务
                                li 提供编码器推流与转发推流两种源站模式
                                li 支持传输协议转换
                                li 支持多层分发加速架构
                        .box.last
                            h3 产品优势
                            ul
                            li 强大的监控系统，多方位监控，实时报警
                            li 提供动态码率功能，满足不同接入带宽用户的高品质视频直播需求
                            li 超高冗余带宽有效承载集中式突发。
                        .img
                            img(src='#{root_path}/images/products/live.png', alt='')
            .bg2
                .wrapper
                    .benefit
                        h3 优质服务
                        img(src='#{root_path}/images/products/services-bg.png', alt='')
                    .detail
                        div
                            h4 数据报告
                            ol
                                li 不同纬度统计分析
                                li 日报、月报及服务质量测报告
                                li 重大项目活动服务报告
                        div
                            h4 安全增强
                            ol
                                li 抗DDos攻击
                                li 防劫持技术、防盗链技术
                                li 源站隐匿与源站监控
                        div
                            h4 可靠保证
                            ol
                                li 分布式负载均衡访问
                                li 主备源热切换
                                li 冗余负载，支持流量突发
        .content#cat3(style='display:none')
            .bg1
                .wrapper
                    .title
                        h2 FastVOD 点播加速
                        p 新闻类视频网站 + 影视类视频网站 + 视频分享类网站 + 在线教育类网站 + 音乐类网站
                    .product
                        .box
                            h3 产品功能
                            ul
                                li 大流量分层同步传输+节点快速切换；
                                li 多样的版权保护机制(referer+IP+URL标签+UA)；
                                li 支持按时间+字节进行流媒体随机拖动，支持断点续传；
                                li 一站式加速；
                                li 防盗链+MD5校验+数据备灾；
                                li 支持离线模式，源站宕机后，节点缓存内容仍可访问。
                        .box.last
                            h3 产品优势
                            ul
                                li 支持播放拖拽，更好满足用户需求；
                                li 提供丰富的节点资源，更好的实现用户覆盖，有效提升用户体验；
                                li 热点文件预缓存，保证用户点播质量 。
                        .img
                            img(src='#{root_path}/images/products/VOD.png', alt='')
            .bg2
                .wrapper
                    .benefit
                        h3 优质服务
                        img(src='#{root_path}/images/products/services-bg.png', alt='')
                    .detail
                        div
                            h4 数据报告
                            ol
                                li 不同纬度统计分析，日报、月报及服务质量评测报告。
                        div
                            h4 个性定制
                            ol
                                li 指定ISP带宽资源；
                                li 地域化服务；
                                li 区域访问控制；
                                li 服务IP查询。
                        div
                            h4 安全增强
                            ol
                                li 抗DDos攻击；
                                li 防劫持技术；
                                li 防盗链技术；
                                li 源站隐匿与源站监控。
                        div
                            h4 可靠保证
                            ol
                                li 分布式负载均衡访问；
                                li MD5校验机制确保传输数据完整一致；
                                li 主备源热切换与多源轮询访问；
                                li 冗余负载，支持流量突发。
                        div
                            h4 专业服务
                            ol
                                li 7*24*365全天候的技术支持；
                                li 用户访问故障分析；
                                li 客户监控，命中率、带宽、流量监控，订阅报警。
        .content#cat4(style='display:none')
            .bg1
                .wrapper
                    .title
                        h2 FastDownload 下载加速
                        p 病毒库更新下载 + 补丁程序下载 + 小游戏下载 + 小程序下载 + 音视频下载
                    .product
                        .box
                            h3 产品功能
                            ul
                                li
                                  | 提供病毒库文件、游戏客户端、音/视频文件、补丁程序及其他下载文件的下载加速；
                                li 全球负载均衡系统，实现IP的精准定向和指向；
                                li 一站式加速 ；
                                li 运营接口（文件发布&内容更新）；
                                li 支持离线模式，源站宕机后，节点缓存内容仍可访问。
                        .box.last
                            h3 产品优势
                            ul
                                li 多种精细化方案深度贴合不同特征的下载业务；
                                li 支持FTP、API接口等多种资源上传方式；
                                li 服务技术与架构安全可靠，确保高数据传输质量。
                        .img
                            img(src='#{root_path}/images/products/download.png', alt='')
            .bg2
                .wrapper
                    .benefit
                        h3 优质服务
                        img(src='#{root_path}/images/products/services-bg.png', alt='')
                    .detail
                        div
                            h4 数据报告
                            ol
                                li 不同纬度统计分析，日报、月报及服务质量评测报告。
                        div
                            h4 个性定制
                            ol
                                li 指定ISP带宽资源；
                                li 地域化服务；
                                li 区域访问控制；
                                li 服务IP查询。
                        div
                            h4 安全增强
                            ol
                                li 抗DDos攻击；
                                li 防劫持技术；
                                li 防盗链技术；
                                li 源站隐匿与源站监控。
                        div
                            h4 可靠保证
                            ol
                                li 分布式负载均衡访问；
                                li MD5校验机制确保传输数据完整一致；
                                li 主备源热切换与多源轮询访问；
                                li 冗余负载，支持流量突发。
                      div
                            h4 专业服务
                            ol
                                li 7*24*365全天候的技术支持；
                                li 用户访问故障分析；
                                li 客户监控，命中率、带宽、流量监控，订阅报警。
        .content#cat5(style='display:none')
            .bg1
                .wrapper
                    .title
                        h2 FastOversea 海外加速
                        p
                          | FastOversea海外CDN加速系统，北京快网运用自身先进的CloudCDN 平台，将海外CDN网络与国内网络进行了完美对接，客户可以通过北京快网CloudCDN平台享受全球范围加速的服务。海外CDN加速系统运用Anycast 技术通过北美、欧洲、亚太三个anycast IP 为客户提供全球的加速服务。服务支持压缩、缓存时间重写等功能，众多需求可通过Partner Control Center 中自助完成。
                        p
                          | FastOversea 适合于对海外有加速需求的网站，对网站上各种类型内容，如html 页面、htm 页面、JPG 图片、GIF 图片、Flash、文件下载、流媒体文件等的加速访问。
                    .product
                        .img
                            img(src='#{root_path}/images/products/oversea.png', alt='')
            .bg2
                .wrapper
                    .product
                        .box
                            h3
                                | 优化资源策略
                                br
                                | 加速网站访问
                            ul
                                li 国外CDN网络的合理对接
                                li 高效的缓存技术
                                li 最优化节点部署
                                li 全局负载均衡调整
                                li 分布式负载均衡访问
                                li 支持流量突发
                        .box.last
                            h3
                                | 提升网站访问速度
                                br
                                | 留住更多客户
                            ul
                                li 全球高效的访问效果
                                li 避免海内外互通的瓶颈
                                li 降低网络维护成本
        .content#cat6(style='display:none')
            .bg1
                .wrapper
                    .title
                        h2 FastStorage 存储服务
                        p
                            | FastStorage帮助客户把大量的网站内容如各种大文件和视频等存储在北京快网的多个节点上，保障内容可用性和加快大文件传送速度，降低对源服务器的冲击和带宽要求，从而增强终端用户体验，提高CDN 性能和内容灾备能力。FastStorage 适用于对大量相对的"冷"内容访问, 大文件下载或大视频传输与备份，如音视频下载、游戏客户端、相册服务等。
                    .product
                        .img
                            img(src='#{root_path}/images/products/storage.png', alt='')
            .bg2
                .wrapper
                    .product
                        .box
                            h3
                                | 大容量多层次
                                br
                                | 的存储服务
                            ul
                                li 支持多文件格式
                                li 分布式多点异地存储
                                li 海量存储，多梯度可扩充
                                li 大文件超快速传输
                                li “冷”“热”点文件分离
                                li 提升“热”文件访问速度
                        .box.last
                            h3
                                | 提升访问效率
                                br
                                | 与灾备并举
                            ul
                                li 节省网络和存储资源
                                li 可用性保障加强
                                li 减低源服务器访问压力
        .content#cat7(style='display:none')
            .bg1
                .wrapper
                    .title
                        h2 FastMonitoring 监控服务
                        p FastMonitoring适用于对网站服务可靠性要求高的客户及相应业务。
                        p
                          | FastMonitoring 网站源服务器监控系统，平均每 5秒钟对源服务器进行一次探测，基本实现实时源服务器服务评估，发现源服务器负载过高，或者源服务器宕机时FastMonitoring 系统会立即触发警报，第一时间将警报传达给北京快网运维中心，运维中心立即对CloudCDN 平台下发特殊情况配置策略，保证用户在一定时间内仍可访问节点中的内容给处理源服务器突发问题容留出一定时间。另一方面，运维中心会及时以邮件或电话的方式通知客户，让客户可以及时处理源服务器的突发问题，最终保证用户的访问体验不受影响。
                    .product
                        .img
                            img(src='#{root_path}/images/products/monitorin.png', alt='')
            .bg2
                .wrapper
                    .product
                        .box
                            h3 功能特点
                            ul
                                li 网站源服务器实时服务监控、性能监控
                                li 突发情况报警机制
                                li 突发情况应急配置策略
        .content#cat8(style='display:none')
            .bg1
                .wrapper
                    .title
                        h2 FastReport 日志分析服务
                        p FastReport深度分析报告技术通过对加速网站在各加速节点产生的访问日志及其它监测数据进行深度分析，从不同指标统计网站访问状况，为运营者提供必要的分析报告，从而提高网站运营质量。
                    .space(style='height: 150px;clear:both;')
            .bg2
                .wrapper
                    .product
                        .box
                            h3 全面的统计和分析
                            ul
                                li 状态码分析；
                                li UV统计、UA统计、TopURL分析；
                                li 后缀流量成分分析、回源分析；
                                li 大文件下载速度分析；
                                li 搜索网站统计。
                        .box.last
                            h3
                                | 精确掌握网站运营状
                                br
                                | 况，提高运营质量
                            ul
                                li 指导网站经营策略方向；
                                li 掌握网站访问数据、流量分布；
                                li 明晰频道/页面的排行分布；
                                li 规划和优化网站资源结构。
    .blank
