.hero
  .headline
    img(src='#{root_path}images/brand-logo.svg', alt='Logo')
    h2 FASTER &middot; BETTER
    hr
    p Solidarity Future Success
    p CUSTOMER, COMMITMENT, COLLABORATION, INNOVATION
    p Four Dimmensions of Tomorrow
main.main-content
  .hypotenuse
  .intro
    .container
      img(src='#{root_path}images/index/hero-desc-bg.png', alt='')
      .slogon
        h3 更快更好
        h3 和谐网络
      .desc
        p 北京快网是中国领先的云加速 (CDN) 服务商，目前在亚太、欧美拥有可控节点数十处，在国内公司网络节点多达300余处布遍全国各地重要省市，知名客户超过1000余家，为其提供高质量、高安全性的云加速服务，永远在第一时间响应并解决问题。
        p 北京快网一流的专业研发队在全世界首次提出基于云计算技术的 CloudCDN 理念，并于2011年发表 CloudXNS 和 CloudTCP 二大产品，与CloudCDN组成为快网的三大核心技术,，获得专利11项、软著7项，与业界各类奖项40余项。北京快网坚定"更快更好 和谐网络"的目标，打造专业云加速（CDN）的第一品牌。
  .main
    .wrapper
      #box-cdn.box
        img(src='#{root_path}images/index/logo-cdn-fastlife.png', alt='Logo')
        h3 体验每分每秒零时差
        p
          | 游戏直播网站 | 电视直播类网站 |
          br
          | 远程教育类网站 | 访谈类网站 | 新闻类网站 |
          br
          | 体育类网站 | 音乐类网站
        p
          a.viewmore(href='#') 了解更多
      #box-nd.box
        img(src='#{root_path}images/index/logo-nd.png', alt='Logo')
        h3 安全之道 以盾为坚
        p
          | 游戏直播网站 | 电视直播类网站 |
          br
          | 远程教育类网站 | 访谈类网站 | 新闻类网站 |
          br
          | 体育类网站 | 音乐类网站
        p
          a.viewmore(href='#') 了解更多
      #box-xns.box
        img(src='#{root_path}images/index/logo-cloudxns.png', alt='Logo')
        h3 解析生效 闪电如飞
        p
          | 游戏直播网站 | 电视直播类网站 |
          br
          | 远程教育类网站 | 访谈类网站 | 新闻类网站 |
          br
          | 体育类网站 | 音乐类网站
        p
          a.viewmore(href='#') 了解更多
      .clients
        .desc
          h2 客户案例
          p 北京快网知名客户超过1000余家。如：央视、芒果TV、新浪、网易、苏宁易购、奇虎360、盛大、豌豆荚、应用汇等知名互联网企业及电视网络平台。快网为其提供高质量、高安全性的云加速（CDN）服务，7 X24小时全方位运维中心第一时间响应并解决问题。
        .case
          img(src='#{root_path}images/index/section-cient-bg.png', alt='')
          .detail
            img(src='#{root_path}images/index/logo-sina.png', alt='')
            p 我们对多家CDN服务商进行了严格的测试和评估，北京快网的性价比，服务态度和响应时间，给我们留下了深刻的印象。
            p.author 新浪研发部－
            p
              a.viewmore(href='#') 了解更多
      .news
        h2 快网新闻
        .img
          img(src='#{root_path}images/index/news-figcaption-img.png', alt='')
        .detail
          h3 2015阅兵直播 央视再次与北京快网携手合作
          p 据统计，阅兵当日直播页面访问请求次数达到近亿次，北京快网CDN平台服务的在线收看用户高达数百万人次...
          p
            a.viewmore(href='#') 了解更多
      .honor
        h2 快网荣誉
        .img
          img(src='#{root_path}images/index/section-honor.png', alt='')
        .detail
          ul
            li 2011 德勤高科技、高成长50强
            li 2011 中国最具投资价值企业
            li 2010 品牌中国
            li 2009 中国创业投资价值榜
            li 2009 荣获高新技术企业
          p
            a.viewmore(href='#') 了解更多
