
main#cloudcdn.main-content
  .hero
    .bg
      h1 CloudCDN
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='#{root_path}a/products/static/')
          span.icon-56.icon-fastpage
          span.text 网页加速
      li
        a(href='#{root_path}a/products/live/')
          span.icon-56.icon-fastlive
          span.text 直播加速
      li
        a(href='#{root_path}a/products/vod/')
          span.icon-56.icon-fastvod
          span.text 点播加速
      li
        a.current(href='#{root_path}a/products/download/')
          span.icon-56.icon-fastdownload
          span.text 下载加速
      li
        a(href='#{root_path}a/products/oversea/')
          span.icon-56.icon-fastoversea
          span.text 海外加速
      li
        a(href='#{root_path}a/products/storage/')
          span.icon-56.icon-faststorage
          span.text 储存服务
      li
        a(href='#{root_path}a/products/monitorin/')
          span.icon-56.icon-fastmonitor
          span.text 监控服务
      li
        a(href='#{root_path}a/products/report/')
          span.icon-56.icon-fastreport
          span.text 日志分析
  .bg1
    .wrapper
      .title
        h2 FastDownload 下载加速
        p 病毒库更新下载 + 补丁程序下载 + 小游戏下载 + 小程序下载 + 音视频下载
      .product
        .box
          h3 产品功能
          ul
            li
              | 提供病毒库文件、游戏客户端、音/视频文件、补丁程序及其他下载文件的下载加速；
            li 全球负载均衡系统，实现IP的精准定向和指向；
            li 一站式加速 ；
            li 运营接口（文件发布&内容更新）；
            li 支持离线模式，源站宕机后，节点缓存内容仍可访问。
        .box.last
          h3 产品优势
          ul
            li 多种精细化方案深度贴合不同特征的下载业务；
            li 支持FTP、API接口等多种资源上传方式；
            li 服务技术与架构安全可靠，确保高数据传输质量。
        .img
          img(src='#{root_path}/images/products/download.png', alt='')
  .bg2
    .wrapper
      .benefit
        h3 优质服务
        img(src='#{root_path}/images/products/services-bg.png', alt='')
        .detail
          div
            h4 数据报告
            ol
              li 不同纬度统计分析，日报、月报及服务质量评测报告。
          div
            h4 个性定制
            ol
              li 指定ISP带宽资源；
              li 地域化服务；
              li 区域访问控制；
              li 服务IP查询。
          div
            h4 安全增强
            ol
              li 抗DDos攻击；
              li 防劫持技术；
              li 防盗链技术；
              li 源站隐匿与源站监控。
          div
            h4 可靠保证
            ol
              li 分布式负载均衡访问；
              li MD5校验机制确保传输数据完整一致；
              li 主备源热切换与多源轮询访问；
              li 冗余负载，支持流量突发。
          div
            h4 专业服务
            ol
              li 7*24*365全天候的技术支持；
              li 用户访问故障分析；
              li 客户监控，命中率、带宽、流量监控，订阅报警。
  .blank



