main.main-content#industry
    .hero
        .bg.banner3
            h1 行业解决方案
            p FASTER · BETTER
            hr
        .bannerbottom
    .category
        ul
            li
                a.current(href='#cat1')
                    span.icon-56.icon-ec
                    sapn.text 电商加速
            li
                a(href='#cat2')
                    span.icon-56.icon-all-site
                    sapn.text 全站加速
            li
                a(href='#cat3')
                    span.icon-56.icon-game
                    sapn.text 游戏加速
            li
                a(href='#cat4')
                    span.icon-56.icon-live
                    sapn.text 互动直播加速
            li
                a(href='#cat5')
                    span.icon-56.icon-ott
                    sapn.text 互连网电视加速
            li
                a(href='#cat6')
                    span.icon-56.icon-mobile
                    sapn.text 移动互连网加速
    .inner
        .content#cat1
            .wrapper
                .title
                    h2 BetterEC 电商加速解决方案
                    p
                        | 电子商务无疑是最近几年最具有活力的行业之一 ，许多的传统企业纷纷进军电子商务就是一个最好的佐证。电子商务企业面临的问题：如何保证向数以百万计的活跃用户提供完美的访问体验，改善客户在线体验质量从而影响客户对品牌的整体看法，保证客户的活跃度和粘合度？
                .solution
                    h3 解决方案
                    .img
                        img(src='#{root_path}images/solution/BetterEC.png', alt='')
                    ol
                        li 1、运用FastCache技术针对网站静态内容进行加速，加快网站服务响应并节省运营成本；
                        li 2、运用FastDynamic技术实现对动态数据的加速，加快动态数据交互效果；
                        li 3、自主开发的防盗链技术，保护内容版权和网站利益，避免带宽的浪费；
                        li 4、严密的安全系统保证用户数据的安全；
                .benefit
                    h3 客户收益
                    img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
                    ol
                        li 1、提高网站访问的加载速度，降低网站的购买放弃率，大幅增加销售收入；
                        li 2、无须为应对特殊日期购物而增加基础性投入，保证突发的访问效果；
                        li 3、节省基础投入和运维成本；
                        li 4、根据网民访问热点和时间的数据，协助网站分析用户行为；
        .content#cat2(style='display:none')
            .wrapper
                .title
                    h2 BetterAll 全站加速解决方案
                    p
                        | 公司网站是公司在互联网上进行网站建设和形像宣传的平台，相当于一个企业的网络名片。每年，网站设计都在快速进步，流行的滚动页面、排除非必要设计元素、固定宽度的中心网站布局等等，每天几乎都有新的设计出现。 网站面临的难题：网站的流量可预测性低，常有流量突发或高峰负载等情况，还需保证用户的体验度，减少客户流失，并防备内容被盗用，保障网站的合法利益。
                .solution
                    h3 解决方案
                    .img
                        img(src='#{root_path}images/solution/BetterAll.png', alt='')
                    ol
                        li 1. 性能与速度：网站加速更快，消耗的带宽流量更少；
                        li 2. 实时互动性：拥有令人感到惊异的内容总是非常关键，而利用这些内容进行互动交流是一大优势；
                        li 3. 支持大存储：网民已不满足普通的图片，而转向自定义高质量的专业图片；
                        li 4. 并发规模大：特殊事件期间会有大量访问；
                .benefit
                    h3 客户收益
                    img(src='#{root_path}images/solution/advantage-bg.png', alt='')
                    ol
                        li 1. 通过一系列安全机制，保证源站安全，服务不受攻击影响；
                        li 2. 采用多级服务架构，增加中间节点服务集群，有效减少回源量，降低客户源站压力；
                        li 3. 通过带宽、机器等多层次的冗余、实时服务质量的监控，最大程度地保证服务质量的稳定可靠，轻松应对带宽突增；
                        li 4. 提供准确、完整、及时的日志及专业的数据统计分析，帮助客户更好地了解自身业务情况；降低客户源站压力；
                        li 5. 具有可定制化功能，如：源站负载均衡、离线工作模式、防盗链功能等；
                        li 6. 为客户节约成本，提高成功服务的用户数，提高网站收益。
        .content#cat3(style='display:none')
            .wrapper
                .title
                    h2 BetterGame 游戏加速解决方案
                    p
                        | 现下游戏分为大型网络游戏、网络页面游戏、移动终端游戏等，并且从单一的游戏方向发展到社交+位置+移动(Solomo)游戏。游戏网站面临的问题：如何避免联网出现拥塞，服务器下载路径在连接过程中出现失败，保证游戏下载和游戏数据交互的流畅，保证用户体验将决定产品的市场潜力和用户的接受程度。
                .solution
                    h3 解决方案
                    .img
                        img(src='#{root_path}images/solution/BetterGame.png', alt='')
                    ol
                        li 1. 专业独立的图片、视频、客户端服务平台，提供全面一站式的加速服务；
                        li 2. 按网站内容及传送方式的不同，提供针对性的加速方案，并对加速节点优化布局，解决网络瓶颈，保障用户体验的同时节省运营成本；
                        li 3. 云计算CDN加速网络的雄厚资源储备和合理布局提供极大的带宽扩展性，加强对流量突发的应变；
                        li 4. 游戏更新包含文件的快速同步技术，并进行MD5校验，保证游戏用户端文件的完整性和数据安全性。
                .benefit
                    h3 客户收益
                    img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
                    ol
                        li 1、提高网站访问的加载速度，降低网站的购买放弃率，大幅增加销售收入；
                        li 2、无须为应对特殊日期购物而增加基础性投入，保证突发的访问效果；
                        li 3、节省基础投入和运维成本；
                        li 4、根据网民访问热点和时间的数据，协助网站分析用户行为；
        .content#cat4(style='display:none')
            .wrapper
                .title
                    h2 BetterShow 互动直播加速解决方案
                    p
                        | 互动直播具备良好的用户互动性，逐渐受到了大众用户的追捧和喜爱。快网互动直播加速服务为BetterShow，可通过靠近用户的CDN边缘节点直接加速上传及下载直播流。CDN网内的协议优化及路径优化可保证直播流在CDN网内的高速稳定传输。
                .solution
                    h3 解决方案
                    .img
                        img(src='#{root_path}images/solution/BetterShow.png', alt='')
                    ol
                        li 1. 支持RTMP、HLS等诸多传输协议的互动直播业务加速；
                        li 2. 高效协议转换适配各类用户终端；
                        li 3. 直播录制保留精彩瞬间；
                        li 4. 多样防盗链认证策略确保业务安全；
                        li 5. 深度数据分析为数据挖掘提供强有力支持；
                        li 6. 丰富资源储备轻松应对大规模突发访问；
                        li 7. 冷内容和大视频进行预缓存，增强视频流畅率。
                .benefit
                    h3 客户收益
                    img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
                    ol
                        li 1、提高网站访问的加载速度，降低网站的购买放弃率，大幅增加销售收入；
                        li 2、无须为应对特殊日期购物而增加基础性投入，保证突发的访问效果；
                        li 3、节省基础投入和运维成本；
                        li 4、根据网民访问热点和时间的数据，协助网站分析用户行为；
        .content#cat5(style='display:none')
            .wrapper
                .title
                    h2 BetterOTT 互联网电视加速解决方案
                    p
                        | 当前互联网进入新媒体时代，视频网络成为主流，视频内容在整个网络分发传输中占据绝对主导地位，并使得数据量大大提升。三网融合/OTT打破原有的网络传输界限，同时令视频终端呈现积极的多元化发展，网络、终端的灵活性也给用户提供了更多选择，包括各种个性化、互动化、社交化的观看方式。
                .solution
                    h3 解决方案
                    .img
                        img(src='#{root_path}images/solution/BerrterOTT.png', alt='')
                    ol
                        li 1. 对不同的情况采取镜像方式或缓存方式进行服务，从而用最少的投资解决面临的问题，达到最好的用户体验；
                        li 2. 支持视频编码和多种传输格式，以及多码率自适应；
                        li 3. 支持MD5校验，使用自主开发的防盗链技术保护内容版权和网站的利益并避免了带宽的浪费；
                        li 4. 视频随机拖动技术和视频切片技术将提高视频收视体验，并节省带宽
                .benefit
                    h3 客户收益
                    img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
                    ol
                        li 1. OTT+CDN 助力网站节目传播，实现内容到所有屏幕的覆盖；
                        li 2. 提升网站直播和点播访问体验，在节目流畅播放的基础上达到广电标准的视频质量；
                        li 3. 实现多终端覆盖和码率自适应，提供增值服务，如时移电视，扩展服务能力；
                        li 4. 为客户提供完整的终端用户访问行为信息，了解终端用户的访问行为习惯和需求；
        .content#cat6(style='display:none')
            .wrapper
                .title
                    h2 BetterMobile 移动互联网加速解决方案
                    p
                        | 随着移动智能终端的普及、移动网络带宽及稳定性的大幅提高，移动互联网规模持续快速增长。移动网民对移动用户体验的要求也在不断提高。诸多移动应用商开始购置大量服务器及带宽资源，以缓解日益增长的业务需求。
                .solution
                    h3 解决方案
                    .img
                        img(src='#{root_path}images/solution/BerrterMobile.png', alt='')
                    ol
                        li 1、提供移动端静态类、APP应用下载类、移动端音视频点播类、直播类等加速服务；
                        li 2、根据客户加速类型提供内存版和硬盘版缓存系统，比开源Squid系统性能高3-8倍；
                        li 3、支持各种智能终端，全面适用于移动互联网应用场景；
                        li 4、GSLB精度调度，智能缓存和预分发相结合，实现用户就近快速访问；
                        li 5、诸多运营报表增值服务，提供全面而细致的移动运营数据深度解析。
                .benefit
                    h3 客户收益
                    img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
                    ol
                        li 1、改善移动用户体验，增强移动互联网用户满意度及粘合度；
                        li 2、有效抵御洪水式网络攻击，使网站永不宕机，有效提升网站可靠性及安全性；
                        li 3、减少源站负载，节省移动应用支出成本和运维成本，企业可将精力投入产品开发及创新；
                        li 4、诸多运营报表服务协助企业对移动互联网市场及产品的数据挖掘。
    .blank
